@import "../node_modules/@picocss/pico/scss/pico.scss";
@import "./highlighting.scss";
@import "./math.scss";


@mixin selected-page {
    background: var(--card-background-color);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

main {
    & > section.grid {
        @media (min-width: 992px) {
            grid-template-columns: minmax(4ch, max-content) auto;
            grid-column-gap: 0;
        }

        & > nav {
            & > ul {
                display: none;
            }
            & > p {
                width: 100%;
                & > select {
                    background-image: url("/images/dropdown.svg");
                }
            }
            @media (min-width: 992px) {
                position: sticky;
                top: 0;
                height: min-content;
                & > ul {
                    display: flex;
                }
                & > p {
                    display: none;
                }
            }

            & > ul {
                align-items: normal;
                flex-direction: column;
                margin-left: 0;
                margin-right: calc(var(--border-radius) * -1);
                margin-top: 0;

                & > li {
                    padding-right: calc(var(--border-radius) + var(--nav-element-spacing-horizontal));
                }
            }

            &.index > ul > li.index {
                @include selected-page;
            }

            &.contact > ul > li.contact {
                @include selected-page;
            }

            &.blog > ul > li.blog {
                @include selected-page;
            }

            &.portfolio > ul > li.portfolio {
                @include selected-page;
            }
        }

        & > article {
            margin-top: 0;
            margin-bottom: 0;
            padding: var(--block-spacing-horizontal) var(--block-spacing-horizontal);

            & > hr {
                margin-top: var(--block-spacing-vertical);
                margin-bottom: var(--block-spacing-vertical);
            }

            table {
                border: calc(var(--border-width) / 2) solid var(--table-border-color);
                th, td {
                    &:not(:last-child) {
                        border-right: calc(var(--border-width) / 2) solid var(--table-border-color);
                    }
                }
            }
        }
    }

    & > footer {
        margin-top: var(--block-spacing-vertical);
    }
}

img.personal {
    @media (min-width: 992px) {
        max-width: 12em;
        float: right;
    }
    border-radius: 1em;
}

article {
    div[role="navigation"] {
        & > ul > li {
            list-style: decimal;
            & > ul > li {
                list-style: upper-roman;
                & > ul > li {
                    list-style: lower-roman;
                    & > ul > li {
                        list-style: upper-alpha;
                        & > ul > li {
                            list-style: lower-alpha;
                        }
                    }
                }
            }
        }
    }

    .figure {
        margin-top: var(--block-spacing-vertical);
        margin-bottom: var(--block-spacing-vertical);
        display: flex;
        flex-direction: row;
        justify-content: center;
        .plotly {
            width: fit-content;
        }
        &:not(.js-plotly-plot) {
            height: 500px;
        }
    }
}
