@import "../node_modules/@picocss/pico/scss/pico.scss";

@mixin selected-page {
    background: var(--card-background-color);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

main {
    & > section.grid {
        @media (min-width: 992px) {
            grid-template-columns: minmax(4ch, max-content) auto;
            grid-column-gap: 0;
        }

        & > nav {
            & > ul {
                display: none;
            }
            & > p {
                width: 100%;
            }
            @media (min-width: 992px) {
                position: sticky;
                top: 0;
                height: min-content;
                & > ul {
                    display: flex;
                }
                & > p {
                    display: none;
                }
            }

            & > ul {
                align-items: normal;
                flex-direction: column;
                margin-left: 0;
                margin-right: calc(var(--border-radius) * -1);

                & > li {
                    padding-right: calc(var(--border-radius) + var(--nav-element-spacing-horizontal));
                }
            }

            &.index > ul > li.index {
                @include selected-page;
            }

            &.contact > ul > li.contact {
                @include selected-page;
            }

            &.blog > ul > li.blog {
                @include selected-page;
            }

            &.portfolio > ul > li.portfolio {
                @include selected-page;
            }
        }

        & > article {
            margin-top: 0;
            margin-bottom: 0;
            padding: var(--block-spacing-horizontal) var(--block-spacing-horizontal);
        }
    }

    & > footer {
        margin-top: var(--block-spacing-vertical);
    }
}

img.personal {
    @media (min-width: 992px) {
        max-width: 12em;
        float: right;
    }
    border-radius: 1em;
}
